  <br><br>
  <div class="container">
  <div class="row">
    <div class="col-10">

    <h3 class="border-top border-white">Envio de Documento <img src="../../assets/imag/interrogacao.jpg"
        width="30" class="ml-5"></h3>
    <hr>
    <div class="">
      <h1 class="display-4 font-weight-bold"></h1>
      <p class="lead text-secondary ml-auto">Carteira de Habilitação <button type="button"
          class="btn btn-success btn-enviado">Enviado</button>
        <button type="button" class="btn btn-light">Editar</button></p>
      <p class="lead text-secondary">Boletim de Ocorrência <img src="../../assets/imag/error.png" width="30"><button
          type="button" class="btn btn-danger btn-reenviar">Reenviar</button></p>


        <div _ngcontent-dim-c103="" class="input-group">
          Comprovante de pagamento IPVA/DPVAT
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-IPVA">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>
          </div>


        <div _ngcontent-dim-c103="" class="input-group">
          Comprovante de conta bancária
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-bancaria">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>
          </div>
        </div>

        <div _ngcontent-dim-c103="" class="input-group">
          Comprovante de Residência
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-residencia">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>
          </div>
        </div>

        <div _ngcontent-dim-c103="" class="input-group">
          <div>DUT de Transferência</div>
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-DUT">
              <!-- <div class=""> --><div>
                <img src="../../assets/imag/clips-5.svg" width="20" class="mx-5"></div>
            </label>
          </div>
        </div>

        <div _ngcontent-dim-c103="" class="input-group">
          Termo de quitação
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-termo">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>


        <div class="container">
          <div class="row">
            <div class="col mx-5 box10 ">
              <br>
            <h4>Código de Postagem<img src="../../assets/imag/interrogacao.jpg"
                width="30" class="ml-5"></h4>

            <div>Dirija-se a uma agência dos Correios<br>
              e utilize o código de postagem para<br> o envio de documentos originais do<br>
              sinistro.</div>
            <p><strong>Não é necessário informar o<br> endereço da Azul Seguros.</strong></p><br>

            <h2 class="ml-5">123456789-10</h2>
            </div>
          </div>
        </div><br><br>


      </div>
    </div>
  </div>
  </div><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col">
<nav arie-label="acompanhamento-de-sin">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a href="#" class="page-link">
        <span arie-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>
    <li class="page-item"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item">
      <a href="#" class="page-link">
        <span arie-hidden="true">&raquo;</span>
        <span class="sr-only">Próximo</span>
    </a>
  </ul>
</nav>
</div>
</div>
</div>

<router-outlet></router-outlet>

