<nav class="navbar navbar-expand-lg navbar-dark Menu">
  <a class="navbar-brand" href="#">Acompanhamento de Sinistro 2019190452</a>
  <div class="ml-auto">Sair
    <img src="../../assets/imag/sair2.png" width="30" class="ml-auto"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>

</nav>

<div class="container-fluid box11">
  <div class="row">
    <div class="col-sm"><strong>Cliente</strong></div>
    <div class="col-sm"><strong>Veículo</strong></div>
    <div class="col-sm"><strong>Placa</strong></div>
    <div class="w-100"></div>
    <div class="col">MARIA PEDRO DOS SANTOS<P>FERNANDES DA SILVA</P>
    </div>
    <div class="col">GENERAL MOTORS VECTRA<P>SEDAN EXPRESSION 2.0</P>
    </div>
    <div class="col">KWM2247</div>
  </div>
  <div class="d-flex justify-content-end">

    <span class="form-control border border-primary" type="text" placeholder="Sinistro de Terceiros" readonly>
      <img src="../../assets/imag/vel.carro.png" width="25">Sinistro de Terceiros</span>

  </div>

  <div class="d-flex justify-content-end ml-5">

    <span class="form-control border border-light" type="text" placeholder="" readonly>
      <img src="../../assets/imag/mais.png" width="20">Abrir Sinistro</span>

  </div>

  <div class="d-flex justify-content-end ml-5">

    <span class="form-control border border-light" type="text" placeholder="" readonly>
      <img src="../../assets/imag/atender.png" width="35"><br>Chat</span>

    <!-- Exemplo de icon -->
    <!-- <i class="material-icons" style="color: red;">time_to_leave</i> -->

  </div>
</div><br><br>


<div class="container-fluid">
  <div class="row justify-content-start">
  <div class="col-10">
  <section class=""><strong>TIPO DE EVENTO</strong></section>
  <br class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">COLISÃO | INDENIZAÇÃO INTEGRAL</a><br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>





  <div class="container-fluid mt-5 m-auto">
    <div class="row">
      <div class="col-10">

    <button type="button" class="btn btn-outline-primary mr-2 bot" placement="bottom" ngbPopover=""
      popoverTitle="Seu aviso de sinistro foi comunicado com sucesso">
      <img src="../../assets/imag/carro.png" width="60"><br>Aviso

    </button>
    <img src="../../assets/imag/seta.png" width="30">

    <button type="button" class="btn btn-outline-primary mr-2 bot" placement="bottom" ngbPopover=""
      popoverTitle="Seu veículo será vistoriado até o dia 22/03/2019">
      <img src="../../assets/imag/ferramenta.jpg" width="80"><br> Vistoria
    </button>
    <img src="../../assets/imag/seta.png" width="30">

    <button type="button" class="btn btn-outline-primary mr-2 bot" placement="bottom" ngbPopover=""
      popoverTitle="Confira a relação de documentos e o tipo de indenização">
      <img src="../../assets/imag/caixa.arquivo.jpg" width="80"><br>Processo
    </button>
    <img src="../../assets/imag/seta.png" width="30">

    <button type="button" class="btn btn-outline-primary mr-5 bot " placement="bottom" ngbPopover=""
      popoverTitle="Seu veículo será vistoriado até o dia 22/03/2019 desde que estaja no local abaixo">
      <img src="../../assets/imag/concluido.png" width="70"><br> Conclusão
    </button>

    <button type="button" class="btn btn-primary"><img src="../../assets/imag/mensagem.png" width="20">
      Mensagens</button>


      </div>
    </div>
  </div>
<br><br>
<div class="d-flex box3 m-4">
  <div class="d-flex w-100 flex-column p-3">
    <h5>Seu veículo será vistoriado até o dia 22/03/2019 desde que esteja no local abaixo.<br>
      <p>Aconpanhe aqui pelo site ou e-mail cadastrado.</p>
      <p>Local da vistoria: RS SERVICO AUTOMATIVOS<p>
          <p>Endereço: Avenida ARMANDO DE GODOY, 208 Bairro: SETOR NEGRÃO DE LIMA</p>
          <p>Cidade: GOIANIA | UF: GO</p>
          <P>Telefone: (062) 3999-7500.</P>
    </h5>

  </div>
</div>
</div></div></div>



  <hr>
  <div class="container">
  <div class="row">
    <div class="col-10">

    <h3 class="border-top border-white">Envio de Documento <img src="../../assets/imag/interrogacao.jpg"
        width="30" class="ml-5"></h3>
    <hr>
    <div class="">
      <h1 class="display-4 font-weight-bold"></h1>
      <p class="lead text-secondary ml-auto">Carteira de Habilitação <button type="button"
          class="btn btn-success btn-enviado">Enviado</button>
        <button type="button" class="btn btn-light">Editar</button></p>
      <p class="lead text-secondary">Boletim de Ocorrência <img src="../../assets/imag/error.png" width="30"><button
          type="button" class="btn btn-danger btn-reenviar">Reenviar</button></p>


        <div _ngcontent-dim-c103="" class="input-group">
          Comprovante de pagamento IPVA/DPVAT
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-IPVA">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>
          </div>


        <div _ngcontent-dim-c103="" class="input-group">
          Comprovante de conta bancária
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-bancaria">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>
          </div>
        </div>

        <div _ngcontent-dim-c103="" class="input-group">
          Comprovante de Residência
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-residencia">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>
          </div>
        </div>

        <div _ngcontent-dim-c103="" class="input-group">
          <div>DUT de Transferência</div>
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-DUT">
              <!-- <div class=""> --><div>
                <img src="../../assets/imag/clips-5.svg" width="20" class="mx-5"></div>
            </label>
          </div>
        </div>

        <div _ngcontent-dim-c103="" class="input-group">
          Termo de quitação
          <div _ngcontent-dim-c103="" class="custom-file">
            <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
            <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-termo">
              <img src="../../assets/imag/clips-5.svg" width="20">
            </label>


        <div class="container">
          <div class="row">
            <div class="col mx-5 box10 ">
              <br>
            <h4>Código de Postagem<img src="../../assets/imag/interrogacao.jpg"
                width="30" class="ml-5"></h4>

            <div>Dirija-se a uma agência dos Correios<br>
              e utilize o código de postagem para<br> o envio de documentos originais do<br>
              sinistro.</div>
            <p><strong>Não é necessário informar o<br> endereço da Azul Seguros.</strong></p><br>

            <h2 class="ml-5">123456789-10</h2>
            </div>
          </div>
        </div><br><br>


      </div>
    </div>
  </div>



<router-outlet></router-outlet>
