
  <section class="ml-3"><strong>TIPO DE EVENTO</strong></section>
  <br class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-3" href="#">COLISÃO | INDENIZAÇÃO INTEGRAL</a><br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button><br>


    <button type="button" class="btn btn-outline-primary mr-2 bot ml-5" placement="bottom" ngbPopover=""
      popoverTitle="Seu aviso de sinistro foi comunicado com sucesso.">
      <img src="../../assets/imag/carro.png" width="60"><br>Aviso

    </button>
    <img src="../../assets/imag/seta.png" width="20">

    <button type="button" class="btn btn-outline-primary mr-2 bot" placement="bottom" ngbPopover=""
      popoverTitle="Seu veículo será vistoriado até o dia 22/03/2019.">
      <img src="../../assets/imag/ferramenta.jpg" width="80"><br> Vistoria
    </button>
    <img src="../../assets/imag/seta.png" width="20">

    <button type="button" class="btn btn-outline-primary mr-2 bot" placement="bottom" ngbPopover=""
      popoverTitle="Confira a relação de documentos e o tipo de indenização.">
      <img src="../../assets/imag/caixa.arquivo.jpg" width="80"><br>Processo
    </button>
    <img src="../../assets/imag/seta.png" width="20">

    <button type="button" class="btn btn-outline-primary mr-5 bot " placement="bottom" ngbPopover=""
      popoverTitle="Seu veículo será vistoriado até o dia 22/03/2019 desde que esteja no local abaixo.">
      <img src="../../assets/imag/concluido.png" width="70"><br> Conclusão
    </button>
    <button type="button" class="btn btn-primary">Mensagens</button><br>

    <!-- <button class="btn btn-primary"
    data-toggle="modal" data-target="#myModal">
        Mensagem
  </button>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Cadastrando</h3>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">e-mail</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Mensagem</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">
            Fechar
          </button>
          <button class="btn btn-success">
            Salvar
          </button>

        </div>

      </div>
    </div>

  </div>

-->


<br><br>
<div class="box3 m-5 ml-5">
  <div class="w-100 flex-column p-3">
    <h5>Seu veículo será vistoriado até o dia 22/03/2019 desde que esteja no local abaixo.<br>
      <p>Aconpanhe aqui pelo site ou e-mail cadastrado.</p>
      <p>Local da vistoria: RS SERVICO AUTOMATIVOS<p>
          <p>Endereço: Avenida ARMANDO DE GODOY, 208 Bairro: SETOR NEGRÃO DE LIMA</p>
          <p>Cidade: GOIANIA | UF: GO</p>
          <P>Telefone: (062) 3999-7500.</P>
    </h5>

  </div>
</div>

<br><br>

<h3 class="border-top border-white ml-5">Envio de Documento <img src="../../assets/imag/interrogacao.jpg"
    width="23" class="ml-5"></h3>
<hr>
<div class="ml-5">
  <h1 class="display-4 font-weight-bold"></h1>
  <p class="lead text-secondary ml-auto">Carteira de Habilitação <button type="button"
      class="btn btn-success btn-enviado">Enviado</button>
    <button type="button" class="btn btn-light">Editar</button></p>
  <p class="lead text-secondary">Boletim de Ocorrência <img src="../../assets/imag/error.png" width="30"><button
      type="button" class="btn btn-danger btn-reenviar">Reenviar</button></p>


    <div _ngcontent-dim-c103="" class="input-group">
      Comprovante de pagamento IPVA/DPVAT
      <div _ngcontent-dim-c103="" class="custom-file">
        <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
        <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-IPVA">
          <img src="../../assets/imag/clips-5.svg" width="20">
        </label>
      </div>


    <div _ngcontent-dim-c103="" class="input-group">
      Comprovante de conta bancária
      <div _ngcontent-dim-c103="" class="custom-file">
        <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
        <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-bancaria">
          <img src="../../assets/imag/clips-5.svg" width="20">
        </label>
      </div>
    </div>

    <div _ngcontent-dim-c103="" class="input-group">
      Comprovante de Residência
      <div _ngcontent-dim-c103="" class="custom-file">
        <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
        <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-residencia">
          <img src="../../assets/imag/clips-5.svg" width="20">
        </label>
      </div>
    </div>

    <div _ngcontent-dim-c103="" class="input-group">
      <div>DUT de Transferência</div>
      <div _ngcontent-dim-c103="" class="custom-file">
        <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
        <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-DUT">
          <!-- <div class=""> --><div>
            <img src="../../assets/imag/clips-5.svg" width="20" class="mx-5"></div>
        </label>
      </div>
    </div>

    <div _ngcontent-dim-c103="" class="input-group">
      Termo de quitação
      <div _ngcontent-dim-c103="" class="custom-file">
        <input _ngcontent-dim-c103="" style="width:0" type="file" id="inputGroupFile04" class="custom-file-input">
        <label _ngcontent-dim-c103="" for="inputGroupFile04" class="btn-termo">
          <img src="../../assets/imag/clips-5.svg" width="20">
        </label>


        <div class="col mx-5 box10 ">
          <br>
        <h4>Código de Postagem<img src="../../assets/imag/interrogacao.jpg"
            width="18" class="ml-4"></h4>

        <div>Dirija-se a uma agência dos Correios<br>
          e utilize o código de postagem para<br> o envio de documentos originais do<br>
          sinistro.</div>
        <p><strong>Não é necessário informar o<br> endereço da Azul Seguros.</strong></p><br>

        <h2 class="ml-5">123456789-10</h2>
        </div>
      </div>
    </div><br><br>

  </div>

<br><br>

<nav arie-label="acompanhamento-de-sin">
<ul class="pagination justify-content-center py-5">
<li class="page-item">
  <a href="#" class="page-link">
    <span arie-hidden="true">&laquo;</span>
    <span class="sr-only">Anterior</span>
  </a>
</li>
<li class="page-item"><a href="#" class="page-link">1</a></li>
<li class="page-item"><a href="#" class="page-link">2</a></li>
<li class="page-item">
  <a href="#" class="page-link">
    <span arie-hidden="true">&raquo;</span>
    <span class="sr-only">Próximo</span>
</a>
</ul>
</nav>
</div>

<!-- <router-outlet></router-outlet> -->

