<nav class="navbar navbar-expand-lg navbar-dark Menu">
  <a class="navbar-brand" href="#">Acompanhamento de Sinistro 2019190452</a>
  <div class="ml-auto">Sair
    <img src="../../assets/imag/sair2.png" width="30" class="ml-auto"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>

</nav>

<div class="container-fluid box11">
  <div class="row">
    <div class="col-sm"><strong>Cliente</strong></div>
    <div class="col-sm"><strong>Veículo</strong></div>
    <div class="col-sm"><strong>Placa</strong></div>
    <div class="w-100"></div>
    <div class="col">MARIA PEDRO DOS SANTOS<P>FERNANDES DA SILVA</P>
    </div>
    <div class="col">GENERAL MOTORS VECTRA<P>SEDAN EXPRESSION 2.0</P>
    </div>
    <div class="col">KWM2247</div>
  </div>
  <div class="d-flex justify-content-end">

    <span class="form-control border border-primary" type="text" placeholder="Sinistro de Terceiros" readonly>
      <img src="../../assets/imag/vel.carro.png" width="25">Sinistro de Terceiros</span>

  </div>

  <div class="d-flex justify-content-end ml-5">

    <span class="form-control border border-light" type="text" placeholder="" readonly>
      <img src="../../assets/imag/mais.png" width="20">Abrir Sinistro</span>

  </div>

  <div class="d-flex justify-content-end ml-5">

    <span class="form-control border border-light" type="text" placeholder="" readonly>
      <img src="../../assets/imag/atender.png" width="35"><br>Chat</span>

    <!-- Exemplo de icon -->
    <!-- <i class="material-icons" style="color: red;">time_to_leave</i> -->

  </div>
</div><br><br>

