<!-- <nav class="navbar navbar-expand-lg navbar-dark Menu">
  <a class="navbar-brand" href="#">Acompanhamento de Sinistro<img src="../../assets/imag/sair2.png" width="28" class="ml-5 "></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">

    </span>
  </button>-->

  <nav class="navbar navbar-expand-lg navbar-dark Menu">
    <a class="navbar-brand" href="#">Acompanhamento de Sinistro</a>
    <div class="ml-auto"><button type="button" class="btn btn-outline-primary text-primary">
      <a href="https://www.azulseguros.com.br/seguro-auto/">Sair</a><img src="../../assets/imag/sair2.png" width="30" class="ml-auto">
    </button>
      </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>

  </nav>



