
<div class="container-fluid">
  <div class="row justify-content-end ">
    <div class="col-3 box13 a">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Dados do Cliente">
          <ng-template ngbPanelContent>
            <p>Nome</p>
            <h6>Maria Pedro dos Santos</h6>
            <p>Telefone:</p>
            <h6>(21) 99234-5687</h6>
            <p>E-mail:</p>
            <h6>maria.da.silva@gmail.com</h6>
            <input class="btn btn-primary" type="submit" value="2° Via de Apólice"><br>
            <br><button type="button" class="btn btn-outline-primary">Resumo da cobertura</button>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Dados do Sinistro">
          <ng-template ngbPanelContent>
            <p>Data do Aviso</p>
            <h6>20/02/2019</h6>
            <p>Data da Ocorrência</p>
            <h6>18/02/2019</h6>
            <p>N° da Apólice</p>
            <h6>01.18.26.000045-000</h6>

            <br><button type="button" class="btn btn-outline-primary">Resumo do Sinistro</button>

          </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-3" title="Contato da Oficina">
          <ng-template ngbPanelContent>
            <h6>Reagendar Vistória</h6>
            <p>Oficina</p>
            <h6>Auto Palace</h6>
            <p>Telefone:</p>
            <h6>(21) 3234-5678</h6>
            <p>Celular:</p>
            <h6>(21) 99121-5678</h6>
            <p>E-mail:</p>
            <h6>autopalace@gmail.com</h6>
            <p>Endereço</p>
            <h6>Rua Quitanduba, 267 Butantã-São Paulo-SP</h6>

            <br>
            <h6>Trocar Oficina</h6>

            <br><button type="button" class="btn btn-outline-primary">Abrir no mapa</button><br>
            <br><input class="btn btn-primary" type="submit" value="Orçamento">

          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <hr/>
    </div>
  </div>
</div>
<br>


